.env
data/images/aldi
data/images/auchan
data/images/lidl
data/images/penny
data/images/spar
data/images/tesco
data/dates/aldi
data/dates/auchan
data/dates/lidl
data/dates/penny
data/dates/spar
data/dates/tesco

